/*GENERAL*/
body {
    background: rgb(247, 247, 247);
    overflow: hidden;
}

/* INPUT-BOX */
.input-box {
    margin: 30px 50%;
    transform: translatex(-50%);
    display: inline-block;
    padding: 25px 30px;
    width: 400px;
}

.input-box .input-field {
}

.input-box .input-control {
    float: right;
}