/*GENERAL*/
body {
    overflow-x: hidden;
    background: rgb(247, 247, 247);
}

/* TITLE */
.select-field {

}

.select-field hr {
    display: none;
}

/* INPUT-BOX */
.input-box {
    margin: 30px 50%;
    transform: translatex(-50%);
    display: inline-block;
    padding: 25px 30px;
    width: 400px;
}

.input-box .input-field {
}

.input-box .input-control {
    float: right;
}

/* CARD */
.cards-container {
    padding: 20px;
    background-color: transparent !important;
    column-width: 350px;
}

.card {
    width: 350px;
    margin: 20px;
    word-wrap: break-word;
    display: inline-block;
    overflow: visible;
}

.card .card-header {
    border-bottom: 2px solid rgb(0, 188, 212);
}

.card .card-preview {
    text-align: center;
    display: inline-block;
}

.card .card-preview .preloader {
    margin: 75px !important;
}

.card .card-preview img {
    max-width: 100%;
    max-height: 275px;
}

.card .card-info {
    border-top: 2px solid rgb(0, 188, 212);
}

.card .card-actions-panel {
    padding: 0 !important;
    width: 100%;
    background: rgb(0, 188, 212);
    box-sizing: border-box;
}

.card .card-actions-panel button,
.card .card-actions-panel a,
.card .card-actions-panel span {
    padding: 8px !important;
    box-sizing: content-box !important;
    transform: none !important;
}
